html {
    font-size: 10px;
    font-family: 'Lora', serif;
    background-color: #7f889b25;
}
h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #9bd2f746;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 3px 3px 1px rgb(104, 104, 104);
  }
  img {
    display: block;
    margin: 0 auto;  
  }
  .div-button {
    display: flex;
    justify-content: center;
  }
  .button1 {
    font-size: 25px;
    border-radius: 2px;
    border: solid 2px  #4c74afde;
    transition-duration: 0.4s;
    
  }
  .button1:hover {
      background-color: #4c74afde;
      color: white;
  }